.form {
    width: 90%;
    max-width: 300px;
    display: block;
    margin: auto;
    padding: 10px 0;

    .form-control {
        margin-bottom: 20px;
        width: 100%;
    }

    input {
        line-height: 50px;
        border: 1px solid $b-main-color;
        padding-left: 10px;

    }
}
